POSTGRES_HOST_PORT=5432
POSTGRES_DB=toolathlon_gym
POSTGRES_USER=eigent
POSTGRES_PASSWORD=camel

CANVAS_SHIM_HOST=127.0.0.1
CANVAS_SHIM_PORT=38080
CANVAS_TLS_CERT_PATH=./certs/canvas-cert.pem
CANVAS_TLS_KEY_PATH=./certs/canvas-key.pem

NOTION_SHIM_HOST=127.0.0.1
NOTION_SHIM_PORT=38081

WOOCOMMERCE_SHIM_HOST=127.0.0.1
WOOCOMMERCE_SHIM_PORT=38082
